<mat-toolbar class="toolbar">
    <button mat-mini-fab color="primary" routerLink="">
        <mat-icon>home</mat-icon>
    </button>
    
    <li class="li1"><a routerLink="bk-bank">BK Bank</a></li>
    <li class="li2"><a routerLink="bk-social">Bk Social</a></li>
    <li class="li3"><a routerLink="notas">Notas</a></li>
    <li class="li4"><a href="https://dribbble.com/BJ307" target="_blank">Ui Design</a></li>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
    <app-contents class="contentsClass"></app-contents>
</mat-drawer-container>