.contentsClass{
    margin-top: 100px;
}

.example-container {
    height: 100vh;
    background-color: #1b1631;
    padding-top: 100px;
}

.toolbar{
    background-color: #1b1631;
    position: fixed;
    z-index: 100;
    color: white;
    box-shadow: 0 0 1px #fff,
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #635E7D,
    0 0 10px #635E7D,
    0 0 20px #635E7D,
    0 0 30px #635E7D,
    0 0 40px #635E7D;
    justify-content: center;
}

button {
    background-color: #1b1631;
    color: white;
    margin-left: 5px;
}

a {
    color: white;
    font-size: 15px;
    text-decoration: none;
}

li{
    list-style: none;
}

.li1 {
    margin-left: auto;
    
}

.li2, .li3, .li4 {
margin-left: 20px;
}