<section class="geralPerfil">
    <div class="perfil">
        <img class="foto">
    </div>
    <h1>Kaio Resende</h1>
    <h3>@bj.chefe</h3>
    <mat-divider class="divider"></mat-divider>
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at
        its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
        opposed to using 'Content here, content here', making it look like readable English used.</p>

    <h2>Habilidades</h2>
    <div class="progressBar">
        ANGULAR CLI
        <mat-progress-bar mode="determinate" value="60" class="hb1"></mat-progress-bar> 
        <mat-progress-bar mode="determinate" value="60" class="hb1"></mat-progress-bar>   
        <mat-progress-bar mode="determinate" value="60" class="hb1"></mat-progress-bar>    
        <br>
        POWER BI
        <mat-progress-bar mode="determinate" value="50" class="hb1"></mat-progress-bar> 
        <mat-progress-bar mode="determinate" value="50" class="hb1"></mat-progress-bar>   
        <mat-progress-bar mode="determinate" value="50" class="hb1"></mat-progress-bar>
        <br>
        FIGMA
        <mat-progress-bar mode="determinate" value="50" class="hb1"></mat-progress-bar> 
        <mat-progress-bar mode="determinate" value="50" class="hb1"></mat-progress-bar>   
        <mat-progress-bar mode="determinate" value="50" class="hb1"></mat-progress-bar>
        <br>
        SPRINGBOOT
        <mat-progress-bar mode="determinate" value="35" class="hb1"></mat-progress-bar> 
        <mat-progress-bar mode="determinate" value="35" class="hb1"></mat-progress-bar>   
        <mat-progress-bar mode="determinate" value="35" class="hb1"></mat-progress-bar>
        <br>
        CANVA
        <mat-progress-bar mode="determinate" value="60" class="hb1"></mat-progress-bar> 
        <mat-progress-bar mode="determinate" value="60" class="hb1"></mat-progress-bar>   
        <mat-progress-bar mode="determinate" value="60" class="hb1"></mat-progress-bar>
        <br>
        TYPESCRIPT
        <mat-progress-bar mode="determinate" value="35" class="hb1"></mat-progress-bar> 
        <mat-progress-bar mode="determinate" value="35" class="hb1"></mat-progress-bar>   
        <mat-progress-bar mode="determinate" value="35" class="hb1"></mat-progress-bar>
    </div>

</section>