<div class="minhasNotas">
    <div class="col-md-12 mt-2">
        <header>
            <img class="logoNotas" src="../../../assets/img/notas.png" alt="">
        </header>
        <body>
            <div class="row">
                <div class="col-md-4 mt-2"><img class="img-fluid  d-sm-block" src="../../../assets/img/0002.png" alt=""></div>
                <div class="col-md-4 mt-2"><img class="img-fluid  d-sm-block" src="../../../assets/img/0003.png" alt=""></div>
                <div class="col-md-4 mt-2"><img class="img-fluid  d-sm-block" src="../../../assets/img/0004.png" alt=""></div>
              </div>
        </body>
    </div>

    <app-addnota></app-addnota>
</div>

