<mat-tab-group class="tabGrupo">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon" style="color: white;">account_balance</mat-icon>
        <a style="color: white;">&nbsp;Extrato</a>
      </ng-template>
      <app-extrato></app-extrato>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon" style="color: white;">currency_exchange</mat-icon>
        <a style="color: white;">&nbsp;Transferir</a>
      </ng-template>
      <app-bkbank></app-bkbank>
    </mat-tab>
  </mat-tab-group>
  




