<div class="row">
    <div class="col-md-4 mt-2">
        <img class="img-fluid  d-sm-block" src="../../../../assets/img/0002.png">
    </div>
    <div class="col-md-4 mt-2">
        <img class="img-fluid  d-sm-block" src="../../../../assets/img/0003.png">
    </div>
    <div class="col-md-4 mt-2">
        <img class="img-fluid  d-sm-block" src="../../../../assets/img/0004.png">
    </div>
    <div class="col-md-4 mt-2">
        <img class="img-fluid  d-sm-block" src="../../../../assets/img/0005.png">
    </div>
    <div class="col-md-4 mt-2">
        <img class="img-fluid  d-sm-block" src="../../../../assets/img/0006.png">
    </div>
    <div class="col-md-4 mt-2">
        <img class="img-fluid  d-sm-block" src="../../../../assets/img/0007.png">
    </div>
    <div class="col-md-4 mt-2">
        <img class="img-fluid  d-sm-block" src="../../../../assets/img/0008.png">
    </div>
</div>